integrations/booking-stack/nodered/flows.json
[
  { "id":"tab-main","type":"tab","label":"NFDW Bookings ↔ Stripe","disabled":false,"info":"" },
  { "id":"ea-in","type":"http in","z":"tab-main","name":"EA → Create/Attach Invoice","url":"/webhooks/ea","method":"post","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["ea-parse"]] },
  { "id":"ea-parse","type":"json","z":"tab-main","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":415,"y":80,"wires":[["ea-map"]] },
  { "id":"ea-map","type":"function","z":"tab-main","name":"Map EA → Stripe","func":"const appt = msg.payload.appointment || {};\nconst serviceName = (appt.service && appt.service.name) || \"\";\nconst service_code = serviceName.split(\"–\")[0].trim();\nconst PRICE_MAP = {\"SOLO30\":2500,\"SOLO60\":4000,\"GROUP30\":1800,\"GROUP60\":3000,\"EXTRA_DOG\":0};\nconst amount = PRICE_MAP[service_code];\nif (amount === undefined) { node.error(\"Unknown service_code: \"+service_code); }\nmsg.booking = { id: appt.id, service_code, start: appt.start_datetime, duration: appt.duration, email: (appt.customer && appt.customer.email) || \"\" };\nmsg.stripe = { amount, currency: \"aud\", description: `${service_code} on ${msg.booking.start}` };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":80,"wires":[["stripe-find"]] },
  { "id":"stripe-find","type":"function","z":"tab-main","name":"Find/Create Customer","func":"const api='https://api.stripe.com/v1';const key=env.get('STRIPE_API_KEY');const email=msg.booking.email;msg.headers={'Authorization':'Bearer '+key,'Content-Type':'application/x-www-form-urlencoded'};msg.method='GET';msg.url=`${api}/customers?email=${encodeURIComponent(email)}`;return msg;","outputs":1,"noerr":0,"x":880,"y":80,"wires":[["http-req"]] },
  { "id":"http-req","type":"http request","z":"tab-main","name":"HTTP to Stripe","method":"use","ret":"obj","paytoqs":"ignore","url":"","persist":false,"authType":"","senderr":false,"x":1120,"y":80,"wires":[["handle-customer-list","error-node"]] },
  { "id":"handle-customer-list","type":"function","z":"tab-main","name":"Create if needed","func":"const api='https://api.stripe.com/v1';const key=env.get('STRIPE_API_KEY');msg.headers={'Authorization':'Bearer '+key,'Content-Type':'application/x-www-form-urlencoded'};if (msg.payload && msg.payload.data && msg.payload.data.length>0){msg.customer_id=msg.payload.data[0].id;msg.method='POST';msg.url=`${api}/invoices`;msg.payload=`customer=${encodeURIComponent(msg.customer_id)}&collection_method=send_invoice`;return msg;} else {const email=msg.booking.email||'';msg.method='POST';msg.url=`${api}/customers`;msg.payload=`email=${encodeURIComponent(email)}`;return msg;}","outputs":1,"noerr":0,"x":1330,"y":80,"wires":[["http-req"]] },
  { "id":"after-create-customer","type":"function","z":"tab-main","name":"Make Invoice (draft)","func":"const api='https://api.stripe.com/v1';const key=env.get('STRIPE_API_KEY');msg.headers={'Authorization':'Bearer '+key,'Content-Type':'application/x-www-form-urlencoded'};if (msg.payload && msg.payload.id && msg.payload.object==='customer'){msg.customer_id=msg.payload.id;}msg.method='POST';msg.url=`${api}/invoices`;msg.payload=`customer=${encodeURIComponent(msg.customer_id)}&collection_method=send_invoice`;return msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["http-req-inv"]] },
  { "id":"http-req-inv","type":"http request","z":"tab-main","name":"HTTP Create Invoice","method":"use","ret":"obj","paytoqs":"ignore","url":"","persist":false,"authType":"","senderr":false,"x":590,"y":160,"wires":[["add-item","error-node"]] },
  { "id":"add-item","type":"function","z":"tab-main","name":"Add Invoice Item","func":"const api='https://api.stripe.com/v1';const key=env.get('STRIPE_API_KEY');msg.headers={'Authorization':'Bearer '+key,'Content-Type':'application/x-www-form-urlencoded'};msg.invoice_id=msg.payload.id;const amount=msg.stripe.amount;const desc=encodeURIComponent(msg.stripe.description);msg.method='POST';msg.url=`${api}/invoiceitems`;msg.payload=`customer=${encodeURIComponent(msg.customer_id)}&invoice=${encodeURIComponent(msg.invoice_id)}&amount=${amount}&currency=aud&description=${desc}`;return msg;","outputs":1,"noerr":0,"x":820,"y":160,"wires":[["http-req-item"]] },
  { "id":"http-req-item","type":"http request","z":"tab-main","name":"HTTP Add Item","method":"use","ret":"obj","paytoqs":"ignore","url":"","persist":false,"authType":"","senderr":false,"x":1050,"y":160,"wires":[["writeback","error-node"]] },
  { "id":"writeback","type":"function","z":"tab-main","name":"Writeback to EA DB","func":"msg.topic=\"UPDATE ea_appointments SET stripe_invoice_id = ? WHERE id = ?\";msg.payload=[ msg.invoice_id || (msg.payload && msg.payload.invoice), msg.booking.id ];return msg;","outputs":1,"noerr":0,"x":1270,"y":160,"wires":[["mysql"]] },
  { "id":"mysql","type":"mysql","z":"tab-main","mydb":"mysql-conn","name":"EA MariaDB","x":1480,"y":160,"wires":[["ea-200"]] },
  { "id":"ea-200","type":"http response","z":"tab-main","name":"200 OK","statusCode":"200","headers":{},"x":1680,"y":160,"wires":[] },
  { "id":"error-node","type":"debug","z":"tab-main","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","statusVal":"","statusType":"auto","x":1475,"y":80,"wires":[] },
  { "id":"stripe-in","type":"http in","z":"tab-main","name":"Stripe → Update Status","url":"/webhooks/stripe","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["stripe-verify"]] },
  { "id":"stripe-verify","type":"function","z":"tab-main","name":"Verify Signature (minimal)","func":"const secret=env.get('STRIPE_WEBHOOK_SECRET');msg.event=msg.payload;return msg;","outputs":1,"noerr":0,"x":395,"y":260,"wires":[["parse-stripe"]] },
  { "id":"parse-stripe","type":"json","z":"tab-main","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":605,"y":260,"wires":[["stripe-switch"]] },
  { "id":"stripe-switch","type":"switch","z":"tab-main","name":"by event type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"invoice.finalized","vt":"str"},{"t":"eq","v":"invoice.sent","vt":"str"},{"t":"eq","v":"invoice.payment_succeeded","vt":"str"},{"t":"eq","v":"invoice.voided","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":260,"wires":[["status-finalized"],["status-sent"],["status-paid"],["status-void"]] },
  { "id":"status-finalized","type":"function","z":"tab-main","name":"status = Sent","func":"const inv=msg.payload.data.object;msg.topic=\"UPDATE ea_appointments SET payment_status = 'Sent' WHERE stripe_invoice_id = ?\";msg.payload=[inv.id];return msg;","outputs":1,"noerr":0,"x":1045,"y":235,"wires":[["mysql"]] },
  { "id":"status-sent","type":"function","z":"tab-main","name":"status = Sent (explicit)","func":"const inv=msg.payload.data.object;msg.topic=\"UPDATE ea_appointments SET payment_status = 'Sent' WHERE stripe_invoice_id = ?\";msg.payload=[inv.id];return msg;","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["mysql"]] },
  { "id":"status-paid","type":"function","z":"tab-main","name":"status = Paid","func":"const inv=msg.payload.data.object;msg.topic=\"UPDATE ea_appointments SET payment_status = 'Paid' WHERE stripe_invoice_id = ?\";msg.payload=[inv.id];return msg;","outputs":1,"noerr":0,"x":1040,"y":285,"wires":[["mysql"]] },
  { "id":"status-void","type":"function","z":"tab-main","name":"status = Void","func":"const inv=msg.payload.data.object;msg.topic=\"UPDATE ea_appointments SET payment_status = 'Void' WHERE stripe_invoice_id = ?\";msg.payload=[inv.id];return msg;","outputs":1,"noerr":0,"x":1040,"y":310,"wires":[["mysql"]] },
  { "id":"stripe-200","type":"http response","z":"tab-main","name":"200 OK","statusCode":"200","headers":{},"x":1255,"y":260,"wires":[] },
  { "id":"mysql-conn","type":"MySQLdatabase","name":"EA MariaDB","host":"${EA_DB_HOST}","port":"3306","db":"${EA_DB_NAME}","tz":"","charset":"UTF8","user":"${EA_DB_USER}","password":"${EA_DB_PASS}" },
  { "id":"link-make-invoice","type":"link in","z":"tab-main","name":"Link In: make invoice","links":["handle-customer-list-link"],"x":145,"y":160,"wires":[["after-create-customer"]] },
  { "id":"handle-customer-list-link","type":"link out","z":"tab-main","name":"Link: customer listed → make invoice","mode":"link","links":["link-make-invoice"],"x":1515,"y":40,"wires":[] }
]
